@import '/home/macchi/.config/wofi/gruvbox.css';

* {
   font-family: 'Iosevka Nerd Font Mono';
   font-size: 15px;
}

window {
   margin: 0;
   padding: 0;
   background-color: @bg;
}

#outer-box {
   margin: 0;
   padding-bottom: 30px;
}

#input {
   margin: 30px;
   padding: 10px;
   color: @txt;
   background-color: @bg;
   border: 1px solid @highlight;
   border-radius: 4px;
}

#text {
   margin: 0;
   padding: 10px 0;
   border: none;
   color: @txt;
}

#entry {
   margin: 0 30px;
   padding: 10px 0;
   border: none;
   border-radius: 5px;
}

#entry:selected {
   background-color: @bg;
   border: 1px solid @highlight;
   border-radius: 4px;
}

image {
   padding: 0 10px;
}